@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide {
    animation: slide 10s linear infinite; /* Adjust duration as needed */
  }
  html, body {
    touch-action: manipulation; /* Prevents zooming on touch devices */
    overflow-x: hidden; /* Prevents horizontal scrolling */
  }